[package]
name = "view"
version = "0.1.0"
edition = "2021"

[dependencies]
gpui = { git = "https://github.com/zed-industries/zed.git", package = "gpui" }
blf = { path = "../blf" }
rfd = "0.15" # For file dialogs
chrono = "0.4" # For timestamp formatting
log = "0.4"
env_logger = "0.11"
anyhow = "1.0"

[dev-dependencies]
test-case = "3.3"

