[package]
name = "view"
version = "0.1.0"
edition = "2021"

[dependencies]
gpui = { git = "https://github.com/zed-industries/zed", branch = "main" }
anyhow = "1.0"
blf = { path = "../blf" }
parser = { path = "../parser" }
rfd = { version = "0.14", default-features = false, features = ["common-controls-v6"] } # For file dialogs
chrono = "0.4" # For timestamp formatting
log = "0.4"
env_logger = "0.11"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
plotters = "0.3"
base64 = "0.22"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

